{% extends "master.twig" %}

{% block content %}

    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Edit Project
                        <small> in portfolio page</small>
                    </h3>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Click on the fields to edit</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            {% if result.success == 1 %}
                                <h3 style="color: forestgreen">{{ result.message }}</h3>
                            {% else %}
                                <h3 style="color: tomato">{{ result.message }}</h3>
                            {% endif %}

                            <form action="/admin/editProject" method="post">
                                <table id="datatable"
                                       class="table table-striped table-bordered responsive-utilities jambo_table">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>URL Name</th>
                                        <th>Description</th>
                                        <th>Tags</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for project in projects %}
                                        <tr>
                                            <td><input type="checkbox" name="projects[]" value="{{ project.id }}"/></td>
                                            <td><input style="border: 1px solid lightblue;" type="text" name="name[{{ project.id }}]" value="{{ project.name }}"></td>
                                            <td><input style="border: 1px solid lightblue;" type="text" name="urlName[{{ project.id }}]" value="{{ project.urlName }}"></td>
                                            <td><input style="border: 1px solid lightblue;" type="text" name="description[{{ project.id }}]" value="{{ project.projectDescription }}"></td>
                                            <td><input style="border: 1px solid lightblue;" type="text" name="tags[{{ project.id }}]" value="{{ project.tags }}"></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                                <div class="form-group-lg" style="margin: 10px auto;">
                                    <button style="margin: 30px auto;" type="submit"
                                            class="btn btn-warning btn-block pull-left">
                                        Edit Selected Projects
                                    </button>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock content %}