{% extends "master.twig" %}

{% block title %} Fab - Contact {% endblock title %}

{% block content %}

    <div class="main-wrapp" id="portfolio-wrap">
        <div class="container">
            <div class="padd-80">
                <div class="row">
                    <div id="filters" class="fillter-wrap">
                        <h3> A Sample of Our Work </h3>
                        {#<button class="but activbut" data-filter="*">All</button>#}
                        {#<button class="but" data-filter=".branding">Branding</button>#}
                        {#<button class="but" data-filter=".web">Website</button>#}
                        {#<button class="but" data-filter=".print">Print</button>#}
                        {#<button class="but" data-filter=".photo">Photo</button>#}
                    </div>
                </div>
                <div class="row">
                    <div class="izotope-container gutt-col3 sliphover">
                        <div class="grid-sizer"></div>

                        {% for project in projects %}
                            <div class="item {{ project.tags|e }}">
                                <a href="/portfolio/{{ project.urlName|e }}"></a>
                                <div class="det-img ellem"
                                     data-caption="<a href='/portfolio/{{ project.urlName|e }}' class='sleep-title'><span class='vertical-align'><h4>{{ project.projectName|e }}</h4><span class='pr-sutitle'>{{ project.projectDescription|e }}</span></span></a>">
                                    <img src="images/{{ project.image|e }}" alt="">
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

