{% extends "master.twig" %}

{% block title %} Fab - Contact {% endblock title %}

{% block content %}

    <div class="main-wrapp" id="portfolio-wrap">
        <div class="container">
            <div class="padd-80">
                <div class="row">
                    <div id="filters" class="fillter-wrap">
                        <button class="but activbut" data-filter="*">All</button>
                        <button class="but" data-filter=".branding">Branding</button>
                        <button class="but" data-filter=".web">Website</button>
                        <button class="but" data-filter=".print">Print</button>
                        <button class="but" data-filter=".photo">Photo</button>
                    </div>
                </div>
                <div class="row">
                    <div class="izotope-container gutt-col3 sliphover">
                        <div class="grid-sizer"></div>

                        {% for item in items %}
                            <div class="item {{ item.tags|e }}">
                                <a href="/portfolio/{{ item.urlName|e }}"></a>
                                <div class="det-img ellem"
                                     data-caption="<a href='/portfolio/{{ item.urlName|e }}' class='sleep-title'><span class='vertical-align'><h4>{{ item.title|e }}</h4><span class='pr-sutitle'>{{ item.subtitle|e }}</span></span></a>">
                                    <img src="images/{{ item.image|e }}" alt="">
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

